<%- include('../partials/adminHeader') %>

<main> 
    <form method="POST"  action="/admin/orderStatus/<%= order.id %>">
        <div class="space-y-12 p-20 flex">
          <div class="border-b border-gray-900/10 pb-12">
            <div class="mt-10 grid grid-cols-1 gap-x-6 gap-y-8 sm:grid-cols-6">
              <div class="sm:col-span-3">
                <label for="categoryName" class="block text-sm font-medium leading-6 text-gray-900">Order Status</label>
                
                <div class="mt-2">
                  <select id="orderStatus" name="orderStatus" autocomplete="category-name" class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:max-w-xs sm:text-sm sm:leading-6">
                   a <option class="text-gray-900" ><%= order.status %></option>
                    <option class="text-gray-900" >Pending</option>
                    <option class="text-green-900" >Shipped</option>
                    <option class="text-blue-900" >Delivered</option>
                    <option class="text-red-900" >Cancelled</option>
                    <!-- <option class="text-gray-900" >Return</option> -->
                  </select>
                </div>


              </div>

        </div>
      
        <button type="submit" class="mt-5 inline-flex justify-center py-2 px-4 border border-transparent shadow-sm text-sm font-medium rounded-md text-white bg-yellow-600 hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500">
            Update 
        </button>
        </div>
        </div>
      </form>
  </main>


  <%- include('../partials/adminFooter') %>