<%- include('../partials/header') %>

<main class="flex justify-between">
<section class="justify-start">
    <%- include('../partials/userProfileSidebar') %>
</section>

<section class="antialiased bg-gray-50 text-gray-600 h-screen mr-auto mx-auto mt-12">
  <div class="flex flex-col h-full">
      <!------------------- Table -------------------->
      <div class="w-full mx-auto bg-white shadow-lg rounded-sm border border-gray-200">
          <header class="px-5 py-4 border-b border-gray-100">
              <h2 class="font-semibold text-gray-800">Orders</h2>
          </header>
          <div class="p-3">
              <div class="overflow-x-auto">
                  <table class="table-auto w-full">
                      <thead class="text-xs font-semibold uppercase text-gray-400 bg-gray-50">
                          <tr>
                              <th class="pl-24 whitespace-nowrap">
                                  <div class="font-semibold text-left">OrderId</div>
                              </th>
                              <th class="pl-24 whitespace-nowrap">
                                  <div class="font-semibold text-left">Email</div>
                              </th>
                              <th class="pl-24 whitespace-nowrap">
                                  <div class="font-semibold text-left">Address</div>
                              </th>
                              <th class="pl-24 whitespace-nowrap">
                                  <div class="font-semibold text-center">Discount</div>
                              </th>
                              <th class="pl-24 whitespace-nowrap">
                                  <div class="font-semibold text-center">Offer</div>
                              </th>
                              <th class="pl-24 whitespace-nowrap">
                                  <div class="font-semibold text-center">Payment Type</div>
                              </th>
                           
                             
                              
                          </tr>
                      </thead>
                      <tbody class="text-sm divide-y divide-gray-100">
                          <tr>
                              <td class="pl-24 pt-5 whitespace-nowrap">
                                  <div class="flex items-center">
                                      <div class="w-10 h-10 flex-shrink-0 mr-2 sm:mr-3"><img class="rounded-full" src="https://raw.githubusercontent.com/cruip/vuejs-admin-dashboard-template/main/src/images/user-36-05.jpg" width="40" height="40" alt="Alex Shatov"></div>
                                      <div class="font-medium text-gray-800">Alex Shatov</div>
                                  </div>
                              </td>
                              <td class="pl-24 pt-5 whitespace-nowrap">
                                  <div class="text-left">alexshatov@gmail.com</div>
                              </td>
                              <td class="pl-24 pt-5 whitespace-nowrap">
                                  <div class="text-left font-medium text-green-500">$2,890.66</div>
                              </td>
                              <td class="pl-24 pt-5 whitespace-nowrap">
                                  <div class="text-lg text-center">🇺🇸</div>
                              </td>
                              <td class="pl-24 pt-5 whitespace-nowrap">
                                  <div class="text-left font-medium text-green-500">$2,890.66</div>
                              </td>
                              <td class="pl-24 pt-5 whitespace-nowrap">
                                  <div class="text-lg text-center">🇺🇸</div>
                              </td>
                         
                          </tr>
                      </tbody>
                  </table>
              </div>
          </div>
      </div>
  </div>
</section>
</main>

<%- include('../partials/footer') %>