<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
    <title>Loign</title>
    <script src="https://cdn.tailwindcss.com"></script>     
</head>
<body>

<div class="flex min-h-full flex-col justify-center px-6 lg:px-8">
  <div class="sm:mx-auto sm:w-full sm:max-w-sm">
    <!-- Logo if wanted -->
    <!-- <div class="text-center font-mono text-3xl font-bold">
        <span class="mx-auto h-10 w-auto">OneCart</span>
    </div> -->
    <h2 class="text-center text-2xl font-bold leading-9 tracking-tight text-gray-900">Register</h2>
  </div>

  <div class="px-16 py-10 mt-5 sm:mx-auto sm:w-full sm:max-w-sm bg-gray-200 ">
    <form class="space-y-6" method="POST" onsubmit="return validateForm()">
      <div>
        <label for="name" class="block text-sm font-medium leading-6 text-gray-900">Name</label>
        <div class="mt-2">
          <input id="name" name="name" type="name" autocomplete="name" required class=" h-7 block w-full border border-gray-500 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6">
        </div>
      </div>

      <div>
        <div class="flex items-center justify-between">
          <label for="email" class="block text-sm font-medium leading-6 text-gray-900">Email</label>

        </div>
        <div class="mt-2">
          <input id="email" name="email" type="email" autocomplete="current-email" required class="h-7 block w-full border border-gray-500 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6">
        </div>
      </div>
      <div>
        <div class="flex items-center justify-between">
          <label for="phone" class="block text-sm font-medium leading-6 text-gray-900">Phone</label>

        </div>
        <div class="mt-2">
          <input id="phone" name="phone" type="phone" autocomplete="current-phone" required class="h-7 block w-full border border-gray-500 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6">
        </div>
      </div>
      <div>

        <div class="flex items-center justify-between">
          <label for="password" class="block text-sm font-medium leading-6 text-gray-900">Password</label>
        </div>
        <div class="mt-2">
          <input id="password" name="password" type="password" autocomplete="current-password" required class="h-7 block w-full  border border-gray-500 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6">
        </div>
      </div>
      <div>
        <div class="flex items-center justify-between">
          <label for="rePassword" class="block text-sm font-medium leading-6 text-gray-900">Repeat Password</label>

        </div>
        <div class="mt-2">
          <input id="rePassword" name="rePassword" type="Password" autocomplete="current-rePassword" required class="h-7 block w-full border border-gray-500 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6">
        </div>
      </div>

      <div class="flex">
        <button type="submit" class="flex w-24 justify-center bg-green-400 px-3 py-1.5 text-sm font-semibold leading-6 text-white shadow-sm hover:bg-green-600 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600">Register</button>
      </div>
    </form>
<div class="flex-row ">
  <p class="mt-5 text-center text-sm text-gray-500">
    Already a member?
    <a href="/login" class="font-semibold leading-6 text-indigo-600 hover:text-indigo-500">Login to Account</a>
  </p>
</div>
  </div>
   </main>
   
   <script>
    function validateForm() {
      const name = document.getElementById('name').value;
      const email = document.getElementById('email').value.trim();
      const phone = document.getElementById('phone').value;
      const password = document.getElementById('password').value;
      const rePassword = document.getElementById('rePassword').value;
      if (name.trim() === '') {
        req.flash('msg', 'Please enter your name.')();
        return false;
      }
  
      if (!isValidEmail(email)) {
        req.flash('msg', 'Please enter a valid email address without leading or trailing spaces.')();
        return false;
      }
  
      if (phone.trim() === '' || !isValidPhone(phone)) {
        req.flash('msg', 'Please enter a valid phone number.')
        return false;
      }
  
      if (password.trim() === '' || password !== rePassword) {
        req.flash('msg', 'Passwords do not match or are empty.');
        return false;
      }
      return true;
    }
  
    function isValidEmail(email) {
      email = email.trim();
      const emailRegex = /^[^\s@]+@[^\s@]+\.[^\s@]+$/;
      return emailRegex.test(email);
    }
  
    function isValidPhone(phone) {
      const phoneRegex = /^[1-9]\d{9}$/;
      return phoneRegex.test(phone);
    }
  </script>
  
</body>
</html>
