<%- include('../partials/header') %>

<main class="flex justify-between">
<section class="justify-start">
    <%- include('../partials/userProfile') %>
</section>

<section class="flex justify-center items-center mr-96 pr-44 mb-80">

<div class="w-full max-w-sm bg-white  ">
    <div class="flex justify-center px-52 pt-1">

    </div>
    <div class="flex flex-col items-center py-20 h-48 ">
        <img class="w-24 h-24 mb-3 shadow-lg" src="https://thumbs.dreamstime.com/z/person-gray-photo-placeholder-man-costume-background-146157490.jpg" alt="Bonnie image"/>
        <h5 class="mt-5 text-xl font-medium text-gray-900 dark:text-black">Name: Syam </h5>
        <span class="mt-5 text-sm text-gray-950 dark:text-gray-950">Gender: Male</span>
        <span class="mt-5 mt-5text-sm text-gray-950 dark:text-gray-950">Email: Syamnanadhu3@gmail.com</span>
        <span class="mt-5 text-sm text-gray-950 dark:text-gray-950">Phone: 8848700346</span>
        <span class="mt-5 text-sm text-gray-950 dark:text-gray-950">Address: kottaram veetil, panmana, kollam ,india</span>
       
    </div>
</div>

</section>

</main>


<%- include('../partials/footer') %>