<%- include('../partials/header') %>

<main class="flex justify-between">
<section class="justify-start">
    <%- include('../partials/userProfile') %>
</section>
<main>
<h1>USer Edit Page</h1>

</main>

<%- include('../partials/footer') %>